<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My favorite places in Mexico</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/places">All Places</a>
        <a href="/places/new">Add place</a>
        |
        <a href="/states">All States</a>
        <a href="/states/new">New State</a>
        |
        <% @states.each do |s|%>
        <a href="/places/states/<%= s %>"><%= s %></a>
        <% end %>

      </nav>

      <%= yield%>
    </div>

  </body>
</html>
