<h2>New Favorite Place</h2>

<form action="/places" method="post">
  <input type="text" name="name" placeholder="Place name">
  <input type="url" name="image" placeholder="http://...">

  <button> Add new place!</button>

</form>
