<h2>New State</h2>

<form action="/states" method="post">
  <input type="text" name="name" placeholder="State name">
  <input type="url" name="image" placeholder="http://...">

  <button> Create place</button>

</form>
