<h1>Book Cover Finder!</h1>

<form action="/books">
  <label for="book"> Book Of Choice: </label>
  <br />
  <input id="book" type="text" name="book_name" placeholder="Harry Potter" autofocus required>
  <button>enter</button>
</form>
