<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Orchid Library</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/orchids">Orchid Types</a>
      <a href="/orchids/new">Add Orchid</a>
    </nav>

    <%= yield %>

  </body>
</html>
