<h2>Add a new Orchid</h2>

<form action="/orchids" method="post">
  <input type="text" name="name" value="" placeholder="Name" autofocus required>
  <input type="text" name="genus" value="" placeholder="Genus" required>
  <input type="url" name="image" value="" placeholder="http://...">
  <input type="text" name="description" value="" placeholder="Description">
  <button>Add Orchid</button>
</form>
