<h1>Guess the secret number again!</h1>
<form action="/guessed/">

<input type="text" name="guess" placeholder="Guess the secret number one more time!" autofocus required />
<button>Check Again!</button>
</form>
