<h1>Guess the Number Ruby Wants You to Guess!</h1>
<form action="/guessed/">

<input type="text" name="guess" placeholder="Guess the secret number!" autofocus required />
<button>Check your Intelligence!</button>
</form>
