
<h2>Enter a Book Title</h2>

<form action='/book'>
  <label for="book">Book Title</label>
  <input id ="book" type="text" name="title" placeholder="Ghost in the Wires" autofocus required>
  <button>Get Book Info</button>
</form>
