<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Google Books</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="app">
      <h1>Books Lookup - only the first search result!</h1>
      <a href="/">Home</a>

      <%=yield %>
    </div>
  </body>
</html>
