<h2>Overview</h2>
<p>Who are the top heroes and villains from DC and Marvel publishing? Go through the catalog and see what each character is rated. If there is a character that doesn't exist, all you need to do is add it in.</p>
