<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heroes And Villains</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/heroes">Heroes</a>
        <a href="/villains">Villains</a>
        <a href="/publishers">Publishers</a>
    </nav>

    <%= yield %>
    
</body>
</html>
