
.demo{
  border: 1px solid pink;
}

.block {
  display: block;
}

.inline {
  display: inline;
  /*width and height cant be used on inline*/
}

.hidden{
  visibility: hidden;
}

.none {
  display: none;
}

.secret {
  display: none;
}

.inline-block {
  display: inline-block;
  width: 30%;
  height: 150px;
}
