<h1> Magic 8 Ball, Magic eight ball, 8 Ball Magic: ask your questions, get answers.</h1>
<input type="text" placeholder="Ask any question and you be sure get your answer">
<button>Click here to ask me</button>
