<h1>Books Lookup</h1>
<h2>Enter the book you want to lookup</h2>

<form action="/book" >
  <label for="title">Book Title</label><!-- for links with the input label id -->
  <input id="title" type="text" name="title" placeholder="Ulysses" autofocus required> <!-- autofocus: you dont need to click to start typing, input name is what is going to appear on the server, required will not let you submit form without data -->


  <button>Get book info!</button>


</form>
