<h2>Add an Album to your collection</h2>

<form action="/albums" method="post">
	<input type="text" name="title" placeholder="Album Title">
	<input type="text" name="artist" placeholder="Artist Name">
	<input type="text" name="year" placeholder="Year of Release">
	<input type="text" name="label" placeholder="Label Name">
	<input type="url" name="image" placeholder="Image URL">
	<button>Submit</button>
</form>
