body {
  margin: 0;
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

}

.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  border: 10px solid rgba(255, 0, 214, 1);
  display: flex;
}

#main {
  box-sizing: border-box;
  display: inline-block;
  width: 70vw;
}

#sidebar {
  display: inline-block;
  box-sizing: border-box;
  width: 29vw;
  border-left: 10px solid rgba(255, 0, 214, 1);
  overflow: auto;
}

.bookList {
  margin: 0 auto;
  display: inline-block;
}

.searchArea {
  margin: 0 auto;
  padding-top: 60px;
  width: 640px;
}

.displayBookDetails {
  display: block;
  margin: 0 auto;
  width: 640px;
  padding-top: 10px;
}

.displayBookDetails > img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  /*margin: 0 auto;*/
}

.displayBookDetails > ul {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.displayBookDetails > ul > li {
  width: 500px;
  list-style: none;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 20px;
}

.displayBookDetails > ul > li > strong {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.displayBookDetails > ul > li > p {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  height: 50px;
  padding-top: 50px;
  color: rgba(118, 0, 255, 1);
  /*color: rgba(78, 147, 255, 1);*/
}

input {
  width: 400px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(78, 147, 255, 1);
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

button {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  background-color: white;
  border: 4px dotted rgba(78, 147, 255, 1);
  color: rgba(78, 147, 255, 1);
  font-size: 20px;
  font-weight: 800;
}

button:hover {
  background-color: rgba(25, 87, 182, 1);
  color: white;
  border: 4px dotted white;
}
