<h1>The McEvoy Centre</h1>
<p>for kid to go and learn to read then get really, really smart</p>

<form action="/book_display">
  <label for="book_title_label">Book Title: </label>
  <input id="book_title_label" type="text" name="book_title" placeholder="Some book that makes me seem smart" autofocus required>
  <button>Get book details</button>
</form>
