<h1>New Ocean</h1>

<form action="/oceans" method="post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" placeholder="Name" required autofocus>

  <label for="image">Image:</label>
  <input type="url" id="image" name="image" placeholder="http://...">

  <label for="area">Area:</label>
  <input type="number" id="area" name="area" placeholder="Area">

  <label for="depth">Depth:</label>
  <input type="number" id="depth" name="depth" placeholder="123224">


  <button>Create Ocean</button>

</form>


<p>This is new.html.erb at /views</p>
