<h1>Check stocks</h1>
<form action="/stock">
  <label for="stock_symbol">Stock Symbol: </label>
  <input id="stock_symbol" type="text" name="stock_symbol" placeholder="GOOG" autofocus required>
  <button>Show price</button>
</form>
