@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');

.container {
  width: 800px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  text-align: center;
}

h2 {

}

img {
  display: block;
  margin: 0 auto;
  margin-top: -25px;
}

body {
  background-color: #FFFCE7;
  padding: 0;
  margin: 0;
  color: #222;
}

p {
  font-family: 'Josefin Slab', serif;
}

nav {
  background-color: #222;
  position: fixed;
  top: 0px;
  width: 100%;
}

nav li {
  text-align: right;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

nav li:hover {
  background-color: pink;
}

nav a {
  color: #FFFCE7;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.columnTwo{
  -webkit-column-count: 3;
}

footer {
  background-color: #222;
  color: #FFFCE7;
  padding: 10px;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

#flip {
   background-image: url('http://i.imgur.com/CsNsVqj.png');
   height: 350px;
   width: 300px;
}

#flip:hover {
   background-image: url('http://i.imgur.com/QiYl4xY.png');
}
