<h1>Book Lookup</h1>

<form action="/lookup">
	<label for="book_title">Book Title</label>
	<input id="book" type="text" name="book" placeholder="Type in a book title..." autofocus required>

	<button>Get Cover</button>
</form>
