<h1>Search New dogs</h1>

<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="Dog color">
  <input type="text" name="breed" placeholder="Dog Breed">
  <input type="url" name="image" placeholder="http://...">

  <button>Find it</button>
</form>
