<h1>Search New origin</h1>

<form action="/origins" method="post">
  <input type="text" name="name" placeholder="Origin">
  <input type="text" name="information" placeholder="Information">
  <input type="url" name="image" placeholder="http://...">

  <button>Find it</button>
</form>
