<h2>Add a meme to your collection!</h2>

<form action="/memes" method="post">
  <input type="text" name="description" placeholder="Description for Meme">
  <input type="number" name="rating" placeholder="Rating /10">
  <input type="radio" name="dank" value="true">Is Dank
  <input type="radio" name="dank" value="false">Isn't Dank
  <input type="url" name="image" placeholder="http://">
  <button>Add Meme</button>
</form>
