<div class="home">

<h1>Select one of the below to </br><span id=P>P</span><span id=L>L</span><span id=A>A</span><span id=Y>Y</span></h1>
<a href="games/magic8ball/:input" class="homenav">Magic 8 Ball</a>
<p>or</p>
<a href="games/secretnumber" class="homenav">Secret Number</a>
<p>or</p>
<a href="games/rockpaperscissors/:throw" class="homenav">Rock Paper Scissors</a>
</div>
