<!-- Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view. -->
<h1 id=secretnumber> Pick a number to see if you win or lose </h1>


<a href ="secretnumber/answer"class="numbers">1</a>
<a href="secretnumber/answer"class="numbers">2</a>
<a href="secretnumber/answer"class="numbers">3</a>
<a href="secretnumber/answer"class="numbers">4</a>
<a href="secretnumber/answer"class="numbers">5</a>
<a href="secretnumber/answer"class="numbers">6</a>
<a href="secretnumber/answer"class="numbers">7</a>
<a href="secretnumber/answer"class="numbers">8</a>
<a href="secretnumber/answer"class="numbers">9</a>
<a href="secretnumber/answer"class="numbers">10</a>
