<!DOCTYPE html>
<html>
  <head>
    <title>MountainsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/mountains">All mountains</a>
      <a href="/mountains/new">New mountains</a>
      </nav>
    <div class="container">

    <%= yield %>

  </div>
  </body>
</html>
