body {
  color: white;
  background-image: url('M2bBqu.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: arial;
}


.container {
  max-width: 960px;
  margin: 0 auto;

}


img {
  padding: 20px;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  margin: 20px;
}


.nav{
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 20px;

}

#images {
    padding-top: 100px;
    padding-left: 50px;
}

input {
  display: inline;
}


/*////////////////////*/


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: linear-gradient(135deg, #2b323a 0%, #1d0c1f 100%);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
/*.popup h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}*/

/*button*/
.popup .close {
  position: absolute;
  top: 13px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.popup .close:hover {
  color: #F44336;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}


#largeImageContainer {
  width: 100%;
  min-height: 120px;
}

#largeImageContainer img {
  width: 100%;
  height: auto;
}
