<h1>Books lookup</h1>
<h2>Enter a book title</h2>

<form action="/cover"> <!--form says anything inside the form back to the server-->
  <!-- <label for="book">Book title</label> -->


<input id="text" type="text" name="book" placeholder="Book title" autofocus required>
<button>Look Up</button>
</form>
