<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <img src="http://www.oliversacks.com/os/wp-content/uploads/2015/04/DSC_6976-opt.jpg" alt="books">
    <%= yield %> <!-- Content goes here -->
  </body>
</html>
