<h1>TweetEater</h1>
<div class="tweetsList">
  <!-- <form action="#" class="searchBar">
  <input type="text" name="searchterm" placeholder="Search for a query" class="searchInput">
  <button class="searchButton">Search</button>
</form> -->
  <ul>
      <% @tweets.each do |tweet| %>
        <div class="bird">
          <span><%= tweet.content %></span>
        </div>
      <% end %>
  </ul>
</div>
