<h1>Add Mountain</h1>

<form action="/mountains" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" placeholder="Everest">
  <br>
  <label for="image">Image: </label>
  <input type="url" name="image" id="image" placeholder="http://...">
  <br>
  <label for="country">Country: </label>
  <input type="text" name="country" id="country" placeholder="Nepal">
  <br>
  <label for="elevation">Elevation: </label>
  <input type="number" name="elevation" id="elevation" placeholder="8861">
  <br><br><br>
  <button>Add Mountain!</button>
</form>
