<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seeds of the Earth</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <app>
      <div class="nav">
        <a href="/seeds">Home</a>
        <a href="/seeds/new">Create New Seed</a>
      </div>
      <h1>
        <a href="/seeds">Seeds Database</a>
      </h1>
      <%= yield %>
    </app>

  </body>
</html>
