<h2>New Seeds</h2>

<form action="/seeds" method="post">
  <input type="text" name="name" placeholder="Name of the Seed" required/>
  <input type="text" name="color" placeholder="Seeds Color" required/>
  <input type="text" name="image" placeholder="https://"/>
  <input type="text" name="interest" placeholder="Likable, Y/N"/>

  <button>Create Seed</button>

</form>
