

  <h1>Magic Eight Ball</h1>

  <p>Ask the magic eight ball a question.</p>

  <form class="eightForm" action="/magic_eight/lookup">
    <input type="text" name="question" placeholder="Ask a question" required>
    <button>Go</button>
  </form>

  <div class="eigthBall">
    <div class="circle">
      <div class="outerRing">
        <div class="displayFace">
          <div class="triangle">
            <div class="textDisplay">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
