<h1>Rock, Paper, Scissors</h1>

<form action="/rock_paper_scissors/lookup">
  <select name="throw">
    <option value="rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <button>Go</button>
</form>
