<h1>New Directors</h1>


<div class="form-position">
<form action="/directors" method="post">
  <input type="text" name="name" placeholder="Director Name">
  <input type="text" name="born" placeholder="Born">
  <input type="text" name="movie" placeholder="Related Movie">
  <input type="text" name="upcoming" placeholder="Upcoming Movies">
  <input type="url" class="all-image-size" name="image" placeholder="http://...">

  <button>Create</button>
  <img src="https://i.pinimg.com/736x/36/77/44/36774451663be4346d3c8108c2950a83--theatre-rooms-theatre-room-decor.jpg" alt="" class="new-back-img">
</form>
</div>
