<h1>New Movies</h1>
<div class="form-position">
<form action="/movies" method="post">
  <input type="text" name="name" placeholder="Movie Name">
  <input type="text" name="genre" placeholder="Movie Genre">
  <input type="text" name="year" placeholder="Movie Year">
  <input type="text" name="director" placeholder="Director">
  <input type="url" class="all-image-size" name="image" placeholder="http://...">

  <button>Create Movie</button>
  <img src="https://i.pinimg.com/736x/36/77/44/36774451663be4346d3c8108c2950a83--theatre-rooms-theatre-room-decor.jpg" alt="" class="new-back-img">
</form>
</div>
