<h1>Get your Future Told by Ruby Genie</h1>
<form action="/show/">

<input type="text" name="question" placeholder="ask your heart away!" autofocus required />
<button>Reveal your luck</button>
</form>
