<h1>About The Games</h1>


<h2>Magic 8 Ball</h2>
  <p>
    The magic 8 ball will tell your fortune.
  </p>
  <p>
    Type your question, then Magic 8 Ball will give you the answer that you have been searching for.
  </p>


<h2>Rock, Paper and Scissors</h2>
  <p>
    We all know the 'Rock, Paper and Scissors' game. If you don't, you will learn by playing the game :)
  </p>
