<h1>The Home Page of the Games</h1>

<p>What would you like to play today?</p>

<p><a class="home" href="/games/magic">Magic 8 Ball</a></p>
<p><a class="home" href="/games/rock_paper_scissors">Rock, Paper and Scissors</a></p>
