<h1>Mystery Number</h1>
<p>Pick a number from 1 to 10 and win the ultimate prize</p>
<form action="/secretnumber">
  <button name="guess" value="1">1</button>
  <button name="guess" value="2">2</button>
  <button name="guess" value="3">3</button>
  <button name="guess" value="4">4</button>
  <button name="guess" value="5">5</button>
  <br />
  <br />
  <button name="guess" value="6">6</button>
  <button name="guess" value="7">7</button>
  <button name="guess" value="8">8</button>
  <button name="guess" value="9">9</button>
  <button name="guess" value="10">10</button>
</form>

<% if params.include? "guess" %>
  <h2><%= @response %></h2>
<% end %>

<br />
<%= link_to "New Number", secretnumber_path(:clearnumber => "true") %>
