<h2>Edit Plants</h2>

<form action="/plants/<%= @plant.id %>" method="post">
  <input type="text" name="name" value="<%= @plant.name %>" placeholder="Plant name">
  <input type="url" name="image" value="<%= @plant.image %>" placeholder="Image URL">

  <button>Update Plant</button>
</form>
