<h1>Rock Paper Scissors</h1>

<form action="/secret/result">
  <select name="throw">
    <option value="rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <button>Go</button>
</form>
