<h2>New Doggo!</h2>
<form action="/doggos" method="post">
  <input type="text" name="breed" placeholder="Doggo's Breed">
  <input type="text" name="size" placeholder="Doggo's size">
  <input type="text" name="nickname" placeholder="Doggo's nickname">
  <input type="text" name="furcolour" placeholder="Doggo's fur colour">
  <input type="url" name="image" placeholder="http://...">
<button>Create A New Doggo!</button>
</form>
