<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>All The Doggos Of the WUNDERFUL WURLD</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/doggos">All doggos</a>
        <a href="/doggos/new">New Doggo</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
