<h1> NEW MOUNTAIN </h1>
<form action="/mountains" method="post">
<label for="name">Name:</label>
<input type="text" id="name" name="name" placeholder="Mount Kilimanjaro" required autofocus>

<label for="image">Image:</label>
<input type="url" name="image" id="image"placeholder="http://...">

<label for="location">Location:</label>
<input type="text" id="location" name="location" placeholder="Australia">

<label for="elevation">Elevation:</label>
<input type="number" id="elevation" name="elevation" placeholder="12323123">

<label for="prominence">Prominence:</label>
<input type="number" id="prominence" name="prominence" placeholder="123123123">

<label for="isolation">Isolation:</label>
<input type="number" id="isolation" name="isolation" placeholder="2">

<button>Create Mountain!</button>
</form>
