<h1>Blog</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione eveniet temporibus consequuntur, hic consequatur perspiciatis iure perferendis fugit quas labore qui. Minima aliquam quidem architecto necessitatibus est ducimus praesentium nemo.</p>
    <p>Fugit laboriosam, est veritatis. Saepe, ad quo quisquam numquam. Eius vel quasi voluptatem odit molestiae quae cumque sit mollitia eveniet soluta consectetur veniam reiciendis, porro neque perferendis, quia expedita ipsam!</p>
  </div>
</div>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione eveniet temporibus consequuntur, hic consequatur perspiciatis iure perferendis fugit quas labore qui. Minima aliquam quidem architecto necessitatibus est ducimus praesentium nemo.</p>
    <p>Fugit laboriosam, est veritatis. Saepe, ad quo quisquam numquam. Eius vel quasi voluptatem odit molestiae quae cumque sit mollitia eveniet soluta consectetur veniam reiciendis, porro neque perferendis, quia expedita ipsam!</p>
  </div>
</div>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione eveniet temporibus consequuntur, hic consequatur perspiciatis iure perferendis fugit quas labore qui. Minima aliquam quidem architecto necessitatibus est ducimus praesentium nemo.</p>
    <p>Fugit laboriosam, est veritatis. Saepe, ad quo quisquam numquam. Eius vel quasi voluptatem odit molestiae quae cumque sit mollitia eveniet soluta consectetur veniam reiciendis, porro neque perferendis, quia expedita ipsam!</p>
  </div>
</div>

<hr/>

<h1>Notification Samples</h1>
<div class="notification">
  This is a notification.
</div>

<div class="error">
  This is an error.
</div>

<div class="success">
  This is successful.
</div>
