<h2>Edit author</h2>

<form action="/authors/<%=@author.id%>" method="post">
<input type="text" name="name" value="<%=@author.name%>" placeholder="Author Name">

<button>Update author</button>
</form>
